body {
    font-size:20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #363062;
}
p {
    color: #f3c623;
    margin: 30px;
 }
h1 {
    color: #d8b9c3;
    font-size: 90px;
    font-family: 'Fira Sans', sans-serif;
}
h2 {
    color: #d8b9c3;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
}
 div {
     width: 80%;
     margin: auto;
     padding: 100px;
     background-color: #4d4c7d;
     box-shadow: 0 0 10px 10px rgba(77, 76, 125, 2);
 }
 a {
     text-decoration: none;
     display:inline-block;
     margin: 20px 0;
     color: tomato;
     border-bottom: 1px solid transparent;
     transition: 0.2 ease-in;
 }
 a:hover {
     border-bottom-color: thistle;
 }
 img {
     max-width: 100%;
     height: auto;
 }